body  {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(196, 227, 253);
}


.container_sp {
  background-color: goldenrod;
  width: 600px;
  height: 600px;
  margin: 40px auto;
}

.square {
  width: calc(100% / 10);
  border: 1px solid black;
  background-color: rgb(43, 116, 226);
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(251, 255, 0)
}

